@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Poppins:wght@500&display=swap");

/* Reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Tells the browser to include any border and padding in the values you specify for an element's width and height */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Links will scroll smoothly to the target content, instead of instantly jumping to it */
  scrollbar-color: rgb(190, 107, 177) rgb(113, 56, 136); /* Set scrollbar color to match the theme of the website */
  color: #e5e7eb;
}

body {
  background-color: #1f2937;
}

.header {

  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15vh;
  background-color: #1f2937;
}

.navigation {
  margin-top: 1.5vh;
  margin-left: 25vw;
  
}


.navigation a { 
text-decoration: none;
}
.header-wrapper {

  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: #1f2937;
}

.header-text {
width: 40%;
}

.sign-up {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  
}
.header-image {
  display: flex;
  height: 200px;
}

.info-wrapper {
  margin-top: 120px;
  display: flex;
  justify-content: center;

}

.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}


.info-squares {
  
  display: flex;
  justify-content: center

}

.square {
  height: 300px; 
  width: 300px;
  border: 10px solid cyan;
  border-radius: 20px;
  margin: 40px;

  
  
}

.info-boxes {
  display: flex;
  justify-content: center;
  text-align: center;
  

}


.info-boxes p {
  height: 30px; 
  width: 400px;
  

  

  
}


.quote-section {

display: flex;
margin-top: 160px;
justify-content: center;


}

.quote-main {
  text-align: center;
  margin-top: 100px;


}

.quote-sub {
text-align: center;

}


  
  
  
